.button{
    display: flex;
    height: 4em;
    flex: 1;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    font-size: 1.6em;
    background-color: #acb9f8;
    color: rgb(49, 49, 49);
    outline: 3px solid #fff;

}

.operator {
    background-color: #ff9a3b;
    color: #ffff;

}