.clear-btn {
    display: flex;
    flex: 1;
    height: 4em;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    font-size: 1.rem;
    outline: 3px solid #fff;
    height: 4em;
    background-color: #c8c1e2;

}