.clear-btn {
    display: flex;
    flex: 1;
    height: 4em;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: 1.2rem;
    outline: 3px solid #fff;
    height: 4em;
    background-color: #bcbac4;
    cursor: pointer;
   

}