.input {
    display: flex;
    height: 4em;
    flex: 1;
    background-color: #000;
    outline: 1px solid #888;
    color:#fff;
    justify-content: flex-end;
    padding: 0.5em;
    font-weight: 300;
    font-size: 2em;
    align-items: center;
    
}